body {
    font-size: 20px;
    font-family: 'Patrick Hand SC', cursive;
    background-color: #C4D0A7;
}
.container {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 200px 85%;
    grid-template-rows: auto 85% auto;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: #8EAD71;
    padding: 10px;
    grid-column: 1 / -1;
    grid-row: 1;
    font: 30px bold;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    background-color: #97B195;
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
}

.nav-menu li {
    font-family: 'Just Another Hand', cursive;
}

.content {
    grid-column: 85%;
    grid-row: 2;
}

.content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat (20, 1fr)
}

.new {
    grid-row: 1;
    grid-column: 1;
    background-color: #6D9500;
    height: 2.5rem;
    align-self: end;
}

.dark {
    grid-row: 1;
    grid-column: 2;
    background-color: darkolivegreen;
    height: 2.5rem;
    align-self: end;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #97B195;
    grid-column: 1 / 8;
    grid-row: 2;
    background-color: #E3DEB2;
}

.save {
    grid-column: 6;
    grid-row: 3;
    background-color: #6D9500; 
    height: 2.5rem;
}

.cancel {
    grid-column: 7;
    grid-row: 3;
    background-color: darkolivegreen; 
    height: 2.5rem;
}

.footer {
    background-color: #8EAD71;
    grid-column: 1 / -1;
    grid-row: 3;
    font: 14px bold Just Another Hand, cursive;
    padding: 5px;
}

.footer p {
    text-align: center;
    margin: 0;
}


